/*
Base Color palette:
#FCEFDF background
#F6E6D3 darker-background
#789DAF button1 #627E8C
#D08DBE button2 #9F6D91
#7E965A button3 #5C6C44
#A24545 button4 #692C2C
#707070 text and button
*/

* {
  box-sizing: border-box;
}
body {
  background-color: #FCEFDF;
  color: #707070;
  font-size: 1.5rem;
  text-align: center;
}